IDK_DISCORD_TOKEN=
IDK_LOG_LEVEL=Information
IDK_ALLOWED_ROLE_IDS=
IDK_LAGTRACE_PATH=/home/helper/lagtrace.sh
IDK_TRACE_OUTPUT_DIR=/home/helper/ss14-traces
IDK_DEFAULT_TRACE_SECONDS=120
IDK_UPDATE_SCRIPT_PATH=/opt/idk/update.sh
IDK_RESTART_SCRIPT_PATH=/opt/idk/restart.sh
IDK_REPOSITORY_PATH=/opt/idk-src
